<ul class="nav-links">
  <li><a href="#products" class="nav-link">Shop</a></li>
  <li><a href="#sets" class="nav-link">Sets</a></li>
  <li><a href="#pulse" class="nav-link">The Pulse</a></li>
  <li><a href="#why" class="nav-link active">Our Why</a></li>
</ul>
